.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}


.nav__color {
background-color: #3C2257 !important;
font-family: "Montserrat";
}

.navbar {
--bs-navbar-padding-x: 0;
--bs-navbar-padding-y: 0.5rem;
--bs-navbar-color: #B1AEBB;
--bs-navbar-hover-color: #FEFDFD;
--bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
--bs-navbar-active-color: #FEFDFD;
}

.btn-outline-success {
--bs-btn-color: #B1AEBB ;
--bs-btn-border-color: #B1AEBB;
--bs-btn-hover-color: #FEFDFD;
--bs-btn-hover-bg: none;
--bs-btn-hover-border-color: #5C3EB3;
--bs-btn-focus-shadow-rgb:  92, 62, 179;
--bs-btn-active-color: #fff;
--bs-btn-active-bg: #FEFDFD;
--bs-btn-active-border-color: #5C3EB3;
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: #B1AEBB ;
--bs-btn-disabled-bg: transparent;
--bs-btn-disabled-border-color: #B1AEBB;
--bs-gradient: none;
height: 40px;
width: 30%;
font-weight: 600;
border-radius: 48px;
}

.navbar-toggler {
border: none !important;
color: #B1AEBB;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    color: #FEFDFD;
}

#busqueda {
    height: 40px;
    width: 300px;
    border-radius: 48px;
    outline: none;
    margin-right: -35px;
    border: 2px solid #5C3EB3;
    color: #FEFDFD;
   
    
}






